<?xml version="1.0"?>
<!--
/**
 * Ffuenf_ProductAlertCleaner extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <sections>
        <ffuenf_productalertcleaner translate="label" module="ffuenf_productalertcleaner">
            <tab>ffuenf</tab>
            <label>ProductAlertCleaner</label>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <teaser translate="label" module="ffuenf_productalertcleaner">
                    <frontend_model>Ffuenf_ProductAlertCleaner_Block_Adminhtml_System_Config_Fieldset_Teaser</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                </teaser>
                <general translate="label" module="ffuenf_productalertcleaner">
                    <label>General Configuration</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <scheduler_cron_expr>
                            <label>Clean old alerts cron expression</label>
                            <comment>Cron expressions. (E.g. "25 * * * *")</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </scheduler_cron_expr>
                        <clean_alerts_older_than>
                            <label>Clean product alerts older than</label>
                            <comment>In days. (Minimum number of days is 1)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </clean_alerts_older_than>
                    </fields>
                </general>
            </groups>
        </ffuenf_productalertcleaner>
    </sections>
</config>